.editor-styles-wrapper .rad-block-category-display a {
	pointer-events: none;
}
.rad-block-category-display {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	list-style-type: none;
}
.rad-block-category-display.is-style-overlay .category-item {
	position: relative;
}
.rad-block-category-display.is-style-overlay .category-item .category-display-name {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}